


// desktop
@media (min-width: 640px){
    .about{
        background: var(--bg);
        color: var(--text);
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .randomFact{
            width: 100%;
            margin-bottom: auto;
        }
    
        .details{
            width: 70ch;
            margin-right: 1em;
            margin-bottom: auto;
        }
    }
  }
  
  // phone
  @media (max-width: 639px){
    .about{
        background: var(--bg);
        color: var(--text);
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .randomFact{
            width: 100%;
            margin-bottom: auto;
        }
    
        .details{
            // width: 70ch;
            // margin-right: 1em;
            margin-bottom: auto;
        }
    }
  }