.background{
    .a{fill:var(--skyline1);}
    .b{fill:var(--skyline2);}
    .c{fill:var(--skyline3);}
    .d{fill:var(--skyline4);}
    .e{fill:var(--skyline5);}
    .f{fill:var(--skyline6);}
    .g{fill:var(--skyline7);}
    .h{fill:var(--skyline8);}
    .f,.g,.h{fill-rule:evenodd;}
}