.background{
    
    .a{fill:var(--skyline1); transition: 1s ease-out;}
    .b{fill:var(--skyline2); transition: 1s ease-out;}
    .c{fill:var(--skyline3); transition: 1s ease-out;}
    .d{fill:var(--skyline4); transition: 1s ease-out;}
    .e{fill:var(--skyline5); transition: 1s ease-out;}
    .f{fill:var(--skyline6); transition: 1s ease-out;}
    .g{fill:var(--skyline7); transition: 1s ease-out;}
    .h{fill:var(--skyline8); transition: 1s ease-out;}
    .f,.g,.h{fill-rule:evenodd;}
}