@import "toastr";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.toast-message {
  width: 70%
}

.ReactModal__Overlay {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  display: grid;
  color: var(--text) !important;
  background: var(--bg-modal) !important;
  text-align: center;
  width: 20vw;
  height: 15vh;
  margin: auto;
  border-radius: 9px !important;

  button {
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 9px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 1em 3em;
  }
}

.fireworks {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.navbar-nav,
.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

header {
  width: 20em;
  padding: 1em;
  background: var(--bg-nav);
  border: 2px solid var(--border-color);
  margin-bottom: 1em;
  padding-bottom: 2.5em;
  text-align: center;
  margin-left: 65%;

  .links {
    display: flex;
    justify-content: center;
    a{    
      padding: 1em;
    }
  }

}

.header:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rainbow{
  animation: color-rotate 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes color-rotate {
  16%{
    fill: red;
  }
  32%{
    fill: orange;
  }
  48%{
    fill: yellow;
  }
  64%{
    fill: greenyellow;
  }
  80%{
    fill: var(--blue);
  }
  100%{
    fill: var(--purple);
  }
}

main {
  min-height: 1000px;
  padding: 2rem;
}

img {
  margin: 2em 0 0;
  width: 180px;
  height: 180px;
}

/* Navbar */

.navbar {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 6em;
  width: 100vw;
  background: var(--bg-nav);
  color: var(--text);
  border-bottom: 2px solid var(--border-color);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 2;
  align-items: center;
  height: 6em;
  width: 70%;
}

.navbar-nav > h2 {
  flex-grow: 1;
}

.navbar-nav > hr {
  width: 5em;
  height: 1px;
  color: #123455;
  background-color: grey;
  border: none;
}

#nav-bird{
  width: 40px;
}

.nav-item {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  width: 6em;
  height: 6em;
  background: var(--bg-nav);
  border-radius: 10px;
  z-index: 1;
}

.dropdown {
  position: absolute;
  z-index: 0;
  padding: 0.5em 1em;
  height: 5em;
  width: 7rem;
  opacity: 0;
  background: var(--bg-dropdown);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: left;
  transform: translateY(-10px);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0rem;

  box-shadow: rgba(2, 8, 20, 0.4) 0px 0.175em 0.5em;

  transition: 0.15s ease-out;
}

nav > ul > li.nav-item.has-dropdown > a {
  transform: scaleX(-1);
  position: inherit;
  font-size: 30px;
  height: 96px;
  width: 96px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 10px;
}

.has-dropdown:focus-within .dropdown {
  transform: translateY(6em);
  pointer-events: auto;
  opacity: 1;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.7rem;
  font-weight: bold;
}

.dropdown-item {
  margin: 0.2rem 0;
}

.dropdown-item a::before {
  content: " ";
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.veritcal-row {
  background: var(--border-color);
  height: 100%;
  width: 2px;
}

.background {
  position: fixed;
  bottom: -4px;
  width: 100vw;
  min-width: 1000px;
  z-index: -1;
}

.page {
  padding: 6em 6vw;
  width: 86vw;
  // display: grid;
  // place-items: center;
}

.footer {
  bottom: 0;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  border-top: 2px solid var(--border-color);
  background: var(--bg);

  .links {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  svg {
    margin: 0 1em;
  }
}

.dark_hover{
  transition: 0.15s ease-out;
}
.dark_hover:hover {
  filter: brightness(0.7);
}
.light_hover{
  transition: 0.15s ease-out;
}
.light_hover:hover {
  filter: brightness(1.3);
}

.card{
  box-shadow: 4px 14px 18px 5px rgba(0, 0, 0, 0.5 );
  transition: 0.3s;
  size: 7in 9.25in;
  padding: 16mm 16mm;
  margin: 2em;
  background: white;
  color: black;
}

.dark{
  .fact_image{
    fill: var(--text)
  }
  

}
.light{
  .fact_image{
    fill: var(--border-color)
    
  }
  

}
/* Themes */

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  --sun: #d2d3cd;
  
}

.light {
  --bg: var(--gray0);
  --bg-nav: var(--gray0);
  --bg-dropdown: var(--gray0);
  --bg-modal: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--gray2);
  --bg-solar: var(--yellow);
  --bg-header: var(--gray2);
  --skyline1: #cdcdd3;
  --skyline2: #b2b3b6;
  --skyline3: #8d8f93;
  --skyline4: #6a6d72;
  --skyline5: #494c53;
  --skyline6: #b2becd;
  --skyline7: #929ba7;
  --skyline8: #737a83;
  --cloud: #fafafa;
}

.dark {
  --bg: var(--gray5);
  --bg-nav: var(--gray5);
  --bg-dropdown: var(--gray6);
  --bg-modal: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--gray4);
  --bg-solar: var(--blue);
  --bg-header: var(--gray6);
  --skyline1: #489fd9;
  --skyline2: #1c6b9e;
  --skyline3: #094b75;
  --skyline4: #023759;
  --skyline5: #002740;
  --skyline6: #4e8db8;
  --skyline7: #32729f;
  --skyline8: #145886;
  --cloud: #fbffd4;
}

.solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #023759;
  --gray5: #005368;
  --gray6: #003d4c;

  --skyline1: #3c6d7f;
  --skyline2: #648998;
  --skyline3: #0b4556;
  --skyline4: #103845;
  --skyline5: #112b35;
  --skyline6: #004a5f;
  --skyline7: #005368;
  --skyline8: #1b6176;
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

#solar::before {
  background: var(--bg-solar);
}

/* Logo Animation */


.flex{
  display: flex;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--gray4);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray5);
}

body > div.ReactModalPortal > div > div > h3 > svg {
  height: 40px;
}

// desktop
@media (min-width: 640px){
  .small {
    display: none;
    visibility: hidden;
  }
  .large{
    visibility: visible;
  }
}

// phone
@media (max-width: 639px){
  .small {
    visibility: visible;
  }
  .large{
    display: none;
    visibility: hidden;
  }

  .page{
    width: auto;
    margin: 0;
    padding: 6em 0;
  }

  .card{
    padding: 6mm;
    margin: 0;
  }

  header{
    margin-left: 0;
    margin-bottom: 80vh;
    width: auto;
  }

  .menu{
    top: -100vh;
    z-index: -1;
    
    height: 94vh;
    width: 100vw;
    position: fixed;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.30s ease-out;

    li{
      width: 100%;
      margin-top: 60%;
      border-top: 2px solid var(--border-color); 
      font-size: 4rem;
      height: 7rem;
    }
  }

  .show_menu{
    z-index: 1;
    top: 6em;
  }
}